@using GTCore.Models
@model IEnumerable<InPlayMatches>

<div class="headingcaption reletedeventbackground " style="padding-left: 8px; background:@ViewBag.backgrod !important; color: white;font-weight:100 !important;margin-top: 2px;margin-bottom: 2px;width: 100%;margin-right: 2px;">
    Related Event
</div>


<div class="sporthighlightsuldiv2" style="height:auto; max-height:320px">
    <div class="col-md-12 no-padding">
        @foreach (var item in Model)
        {
            DateTime marketnameandtype = Convert.ToDateTime(item.EventOpenDate);
            marketnameandtype = marketnameandtype.AddHours(5);



            <div class="inplaydatarow">
                @{
                    bool isPastTime = marketnameandtype < DateTime.Now;
                    string timeColor = isPastTime ? "color: green; font-size:15px; font-weight: bold;" : "";
                }
                <i class="fa fa-caret-right" aria-hidden="true" style="float: left; margin-top: 9px; margin-left: 4px; @timeColor"></i>

                @if (item.EventTypeName == "Horse Racing" || item.EventTypeName == "Greyhound Racing")
                {
                    <div class="inplaymatchnamerelated relatedname" style="height: auto; @timeColor">
                        <a onclick="lastLevelBreadcrumb('@item.MarketCatalogueID.ToString()'), topFunction()">
                            @item.EventName - @item.MarketCatalogueName<br>
                        </a>
                    </div>
                }
                else
                {
                    <div class="inplaymatchnamerelated relatedname" style="height: auto; @timeColor">
                        <a onclick="lastLevelBreadcrumb('@item.MarketCatalogueID.ToString()'), topFunction()">
                            @item.EventName <br>
                        </a>
                    </div>
                }

                @if (item.EventTypeName == "Horse Racing" || item.EventTypeName == "Greyhound Racing")
                {
                    <div class="relatedtime">
                        <span class="relatedspan" style="margin-right: 12px; ">@marketnameandtype.ToString("dd/MM")</span> <br />
                        <span class="relatedspan" >@marketnameandtype.ToString("hh:mm tt")</span>
                    </div>
                }
                else
                {
                    <div class="relatedtime">
                        <span class="relatedspan" style="margin-right: 12px;">@marketnameandtype.ToString("dd/MM")</span> <br />
                        <span class="relatedspan" >@marketnameandtype.ToString("hh:mm tt")</span>
                    </div>
                }
            </div>

        }
    </div>

</div>
<script>

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>





